@-webkit-keyframes tip_arrow{
	0%{
		-webkit-transform: translateY(-10px);
	}
	100%{
		-webkit-transform: translateY(0px);
	}
}
@keyframes tip_arrow{
	0%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0px);
	}
}
@-webkit-keyframes pencil_line{
	0%{
		width: 1px;
		right: 109px;
	}
	100%{
		width: 80px;
		right: 30px;
	}
}
@keyframes pencil_line{
	0%{
		width: 1px;
		right: 109px;
	}
	100%{
		width: 80px;
		right: 30px;
	}
}
@-webkit-keyframes pencil{
	0%{
		right:85px;
	}
	100%{
		right: 5px;
	}
}
@keyframes pencil{
	0%{
		right:85px;
	}
	100%{
		right: 5px;
	}
}